
body{
    position: absolute;
    left: 20%;
    color: red;
    background-color: lightblue;
    height: 50%;
}
img
{
    height: 130%;
    width: 80%;
}
button
{
    color:black;
    background-color: yellowgreen;
    width: 40%;
    height: 20%;
}